.background-image{
    background: url('images/Broken_Top.JPG.jpg') center;
}

html, body{
    height:100%;
    margin:0px;
    
}

img {
    width: auto;    
    object-fit: contain;    
}

.bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0px 15px 15px 0px;
}